# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science
- List popular libraries for Data Science
- few examples of evaluating arithmetic expressions in Python

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. R
3. Scala
4. SQL
5. Java
6. Julia
    
    Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
    2. Pandas
    3. Matplotlib
    4. Seaborn
    5. Scikit-learn
    6. TensorFlow
    7. Keras
    8. PyTorch
    9. SciPy

|Data Science Tools|
------------------
| Jupyter Notebook |
| Rstudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
    Konstantinos Chatzikostis